<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
        }
        .container {
            text-align: center;
        }
        h1 {
            color: #f44336;
        }
        a {
            color: #f44336;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <p style="color: #f44336;">This is a testing version for IT SCHOOL final project!!</p>
        <br>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
